name: CI

on:
  pull_request:
    branches: [ "**" ]
  push:
    branches: [ "**" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # ✅ Spotless 검사
      - name: Run Spotless Check
        run: ./gradlew spotlessCheck

      # ✅ 테스트
      - name: Run Tests
        run: ./gradlew test
